# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Kamen-BattleSystem.iml
# Datasource local storage ignored files
/../../../../../:\Kamen-BattleSystem\.idea\.idea.Kamen-BattleSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
